URxvt.font: xft:monospace:size=12
URxvt.scrollBar: false
! special
*.foreground: White
*.background: Black
*.cursorColor: #afbfbf

! black *.color0: #263640
*.color8: #4a697d

! red
*.color1: #d12f2c
*.color9: #fa3935

! green
*.color2: #819400
*.color10: #a4bd00

! yellow
*.color3: #b08500
*.color11: #d9a400

! blue
*.color4: #1D60A7
*.color12: #2ca2f5

! magenta
*.color5: #696ebf
*.color13: #8086e8

! cyan
*.color6: #289c93
*.color14: #33c5ba

! white
*.color7: #bfbaac
*.color15: #fdf6e3

URxvt.perl-ext-common:resize-font,edefault,clipboard,keyboard-select
! URxvt.keysym.Control-Meta-v: builtin-string:
URxvt.iso14755: False
URxvt.keysym.Shift-Control-P: perl:clipboard:paste
URxvt.keysym.Shift-Control-V: perl:keyboard-select:activate
URxvt.keysym.M-s: perl:keyboard-select:search
URxvt.keyboard-select.clipboard: true
